Projects/*/Library
Projects/*/Logs
Projects/*/Temp
Projects/*/UserSettings
Projects/*/Exports
Projects/*/Builds
Projects/*/*.sln
Projects/*/*.csproj
Projects/*/.idea
Projects/*/obj
Projects/*/mono_crash.*.json
.DS_Store